header{
    text-align: center;
}
.table{
    display: table;
}
.cell{
    display: table-cell;
    padding: 0px 10px 10px;
}
nav.cell{
    width: 80px;
}

.cell > :nth-child(1)
{
    margin-top: 0;
}

nav{
    color: darkred;
    background-color: lemonchiffon;
}

.nav-heading{
    background-color: gold;
}

/* Changing my link appearances...*/

a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover{
    color:blue; text-decoration: underline;
}

nav a{font-size: .8em;}
nav a{cursor: not-allowed;}

nav > *{margin: 1em 0;}


